/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;margin:0;padding:0;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* Clearfix */
.clearfix:before,
.clearfix:after{content:" ";/* 1 */display:table;/* 2 */}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

/* Site styles */
body {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3f3430;
    background: #FEFEFE;
}

em { font-style: italic; font-weight: 400; }
strong{ font-weight:500; }

h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

p {
    line-height: 110%;
    margin-bottom: 9px;
}

a {
    color: #751a25;
    text-decoration: none;
}

a:hover {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    color: #032d5c;
    text-shadow: 0 0 3px #999;
}

li {
    margin-bottom: 8px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    margin-bottom: 24px;
}

header > h1 {
    padding: 13px 0 10px;
    text-shadow: 1px 2px 0 #fff, 0 0 2px #3f3f3f;
    font-size: 60px;
    font-weight: 700;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

section {
    min-height: 100px;
}

.row {
    margin: 0 0 20px -20px;
}
.row:before,.row:after{content:" ";/* 1 */display:table;/* 2 */}
.row:after{clear:both;}

.span6 {
    display: block;
    float: left;
    width: 470px;
    margin-left: 20px;
}
