@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "variables";

body {
    margin: 0;
    padding: 0;
    @include font-feature-settings("kern", "liga", "pnum");
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-font-color;
}

a {
    text-decoration: none;
    color: $action-color;
    @include transition(color 0.7s ease-out);
    &:hover {
        color: darken($action-color, 20%);
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 0.75em;
}

h1 {
    margin-top: 0.25em;
    font-size: $heading-font-size;

    @include media($mobile) {
    margin-top: 0;
    }
}

@for $i from 2 through 6 {
    h#{$i} { font-size: $heading-font-size*(1.5/$i); }
}

p {
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
    @include animation(fadeIn seconds($fade-in-factor * 3) $fade-in-easing);
}

header {
    @include fill-parent;

    h1 {
        text-align: center;
        @include animation(fadeIn seconds($fade-in-factor * 1) $fade-in-easing);
    }
}

.container {
    @include outer-container(800px);
    padding: em(8) 0;
}

.row {
    @include fill-parent();
    @include row();
}

.columns {
    @include media($tablet) {
        @include pad();
    }
}

@for $i from 1 through 12 {
  .col-#{$i} { @include span-columns($i); }
}
