@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "variables";

body {
    margin: 0;
    padding: 0;
    @include font-feature-settings("kern", "liga", "pnum");
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-weight: $heading-font-weight;
        line-height: $heading-line-height;
    }
}

p {
    font-weight: $base-font-weight;
    letter-spacing: $base-letter-spacing;
}

header {
    @include fill-parent;

    h1 {
        text-align: center
    }
}

.subhead {
    // font-size: $header-font-size / 2;
}

.container {
    @include outer-container(800px);
    padding: em(8) 0;
}

.row {
    @include fill-parent();
    @include row();
}

.columns {
    @include media($tablet) {
        @include pad();
    }
}

@for $i from 1 through 12 {
  .col-#{$i} { @include span-columns($i); }
}
