<h1>Github Activity</h1>
<ul class="event_list">
  {{#each events}}
  <li>{{this.from_now}} &ndash; {{this.type_display}} event on <a href="http://github.com/{{this.repo.name}}/">{{this.repo.name}}</a></li>
  {{/each}}
</ul>