@import "tailwindcss";
@import "./rose-pine/rose-pine.css";

@theme {
    --font-serif:
        Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    --font-sans: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    --font-mono:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    --text-xs: clamp(0.64rem, 0.192vi + 0.64rem, 0.78rem);
    --text-sm: clamp(0.875rem, 0.192vi + 0.815rem, 0.969rem);
    --text-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --text-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --text-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --text-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --text-2xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --text-3xl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --text-4xl: clamp(3.81rem, 3.81vi + 2.44rem, 6.25rem);
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-serif font-light;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    h4 {
        @apply text-base;
    }
    h5 {
        @apply text-sm;
    }

    body {
        @apply font-mono text-base;
    }
    p {
        @apply mb-4;
    }
    a {
        @apply text-rose-pine-gold hover:text-rose-pine-love underline;
    }

    input,
    textarea {
        @apply border border-rose-pine-subtle bg-rose-pine-surface accent-rose-pine-foam rounded-sm px-2 py-1;
    }
    label {
        @apply py-1;
    }

    table {
        @apply border-collapse border border-rose-pine-subtle;
        td,
        th {
            @apply border border-rose-pine-subtle px-2 py-1;
        }
        thead th {
            @apply bg-rose-pine-highlight-low;
        }
    }
}

/* Opt in to default view transition */
@view-transition {
    navigation: auto;
}
