@import "tailwindcss";
@import "./rose-pine/rose-pine.css";
@import "./rose-pine/rose-pine-dawn.css";

@theme {
    --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-sans:
        Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    --font-mono:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    --text-xs: clamp(0.64rem, 0.192vi + 0.64rem, 0.78rem);
    --text-sm: clamp(0.875rem, 0.192vi + 0.815rem, 0.969rem);
    --text-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --text-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --text-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --text-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --text-2xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --text-3xl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --text-4xl: clamp(3.81rem, 3.81vi + 2.44rem, 6.25rem);

    /*Address WCAG AAA contrast needs with adjusted coloors*/
    /*"Dawn" light theme*/
    --color-rose-pine-dawn-passion: oklch(
        from var(--color-rose-pine-dawn-love) calc(l - 0.15) c h
    );

    --color-rose-pine-dawn-gilded: oklch(
        from var(--color-rose-pine-dawn-gold) calc(l + 0.3) calc(c - 0.1) h
    );

    --color-rose-pine-dawn-loblolly: oklch(
        from var(--color-rose-pine-dawn-pine) calc(l - 0.07) c h
    );
    /*Dark theme*/
    --color-rose-pine-passion: oklch(
        from var(--color-rose-pine-love) calc(l - 0.35) calc(c + 0.1) h
    );

    --color-rose-pine-gilded: oklch(
        from var(--color-rose-pine-gold) calc(l + 0.3) calc(c - 0.1) h
    );

    --color-rose-pine-loblolly: oklch(
        from var(--color-rose-pine-pine) calc(l - 0.07) c h
    );
}

@layer base {
    html {
        @apply bg-rose-pine-dawn-base dark:bg-rose-pine-base text-gray-700 dark:text-rose-pine-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-sans font-light mb-2;
    }
    h1 {
        @apply text-2xl mb-3;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    h4 {
        @apply text-base;
    }
    h5 {
        @apply text-sm;
    }

    body {
        @apply font-serif text-base;
        scrollbar-gutter: stable;
    }

    nav {
        @apply font-sans;
    }
    p {
        @apply mb-4;
    }
    a {
        @apply text-rose-pine-dawn-loblolly dark:text-rose-pine-gold underline underline-offset-2;
        @apply hover:text-rose-pine-dawn-passion dark:hover:text-rose-pine-love hover:underline-offset-4;
        @apply transition-[underline-offset] delay-150 duration-300;
    }

    input,
    textarea {
        @apply border border-rose-pine-dawn-subtle bg-rose-pine-dawn-surface accent-rose-pine-dawn-foam rounded-sm px-2 py-1;
        @apply dark:border-rose-pine-subtle dark:bg-rose-pine-surface dark:accent-rose-pine-foam;
    }
    label {
        @apply py-1;
    }

    button {
        @apply bg-rose-pine-dawn-surface dark:bg-rose-pine-surface;
        @apply border-rose-pine-gold dark:border-rose-pine-dawn-passion;

        @apply border-2 rounded-md py-1 px-2;

        &:hover {
            @apply bg-rose-pine-dawn-gilded dark:bg-rose-pine-passion;
        }
    }
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    table {
        @apply border-collapse border border-rose-pine-dawn-subtle dark:border-rose-pine-subtle;
        td,
        th {
            @apply border border-rose-pine-dawn-subtle dark:border-rose-pine-subtle px-2 py-1;
        }
        thead th {
            @apply bg-rose-pine-dawn-highlight-low dark:bg-rose-pine-highlight-low;
        }
    }
}

@layer components {
    .nav-item {
        @apply inline-block align-baseline decoration-2 h-full p-2;

        &[aria-current="page"]:not(.logotype) {
            @apply no-underline;
        }
    }

    .logotype {
        @apply text-md decoration-2 decoration-dotted;
    }
}

/* Opt in to default view transition */
@view-transition {
    navigation: auto;
}
