@import "tailwindcss";
@import "./rose-pine/rose-pine.css";
@import "./rose-pine/rose-pine-dawn.css";

@theme {
    --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-sans:
        Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    --font-mono:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    /* Minor Third Type Scale */
    --text-xs: clamp(0.694rem, 0.12vi + 0.67rem, 0.75rem);
    --text-sm: clamp(0.833rem, 0.15vi + 0.8rem, 0.889rem);
    --text-base: clamp(1rem, 0.18vi + 0.96rem, 1.063rem);
    --text-md: clamp(1.2rem, 0.28vi + 1.13rem, 1.266rem);
    --text-lg: clamp(1.44rem, 0.44vi + 1.31rem, 1.52rem);
    --text-xl: clamp(1.728rem, 0.68vi + 1.54rem, 1.823rem);
    --text-2xl: clamp(2.074rem, 1.04vi + 1.81rem, 2.188rem);
    --text-3xl: clamp(2.488rem, 1.56vi + 2.09rem, 2.625rem);
    --text-4xl: clamp(2.986rem, 2.34vi + 2.39rem, 3.15rem);

    /*Address WCAG AAA contrast needs with adjusted coloors*/
    /*"Dawn" light theme*/
    --color-rose-pine-dawn-passion: oklch(
        from var(--color-rose-pine-dawn-love) calc(l - 0.15) c h
    );

    --color-rose-pine-dawn-gilded: oklch(
        from var(--color-rose-pine-dawn-gold) calc(l + 0.3) calc(c - 0.1) h
    );

    --color-rose-pine-dawn-loblolly: oklch(
        from var(--color-rose-pine-dawn-pine) calc(l - 0.07) c h
    );

    --color-rose-pine-dawn-quartz: oklch(
        from var(--color-rose-pine-dawn-iris) calc(l - 0.08) c h
    );
    /*Dark theme*/
    --color-rose-pine-passion: oklch(
        from var(--color-rose-pine-love) calc(l - 0.35) calc(c + 0.1) h
    );

    --color-rose-pine-gilded: oklch(
        from var(--color-rose-pine-gold) calc(l + 0.3) calc(c - 0.1) h
    );

    --color-rose-pine-loblolly: oklch(
        from var(--color-rose-pine-pine) calc(l - 0.07) c h
    );

    --color-rose-pine-quartz: oklch(
        from var(--color-rose-pine-iris) calc(l + 0.14) calc(c - 0.02) h
    );
}

@layer base {
    html {
        @apply bg-rose-pine-dawn-base dark:bg-rose-pine-base text-gray-700 dark:text-rose-pine-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans font-light mb-2;
    }
    h1 {
        @apply text-3xl mb-3;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-md font-medium tracking-wide text-rose-pine-dawn-quartz dark:text-rose-pine-quartz;
    }
    h6 {
        @apply text-base font-bold tracking-wide text-rose-pine-dawn-quartz dark:text-rose-pine-quartz;
    }

    body {
        @apply font-serif text-base;
        scrollbar-gutter: stable;
    }

    nav {
        @apply font-sans;
    }
    p {
        @apply mb-4;
    }
    a {
        @apply text-rose-pine-dawn-loblolly dark:text-rose-pine-gold underline underline-offset-2;
        @apply hover:text-rose-pine-dawn-passion dark:hover:text-rose-pine-love hover:underline-offset-4;
        @apply transition-[underline-offset] delay-150 duration-300;
    }

    input,
    textarea {
        @apply border border-rose-pine-dawn-subtle bg-rose-pine-dawn-surface accent-rose-pine-dawn-foam rounded-sm px-2 py-1;
        @apply dark:border-rose-pine-subtle dark:bg-rose-pine-surface dark:accent-rose-pine-foam;
    }
    label {
        @apply py-1;
    }

    button {
        @apply bg-rose-pine-dawn-surface dark:bg-rose-pine-surface;
        @apply border-rose-pine-gold dark:border-rose-pine-dawn-passion;

        @apply border-2 rounded-md py-1 px-2;

        &:hover {
            @apply bg-rose-pine-dawn-gilded dark:bg-rose-pine-passion;
        }
    }
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    table {
        @apply border-collapse border border-rose-pine-dawn-subtle dark:border-rose-pine-subtle;
        td,
        th {
            @apply border border-rose-pine-dawn-subtle dark:border-rose-pine-subtle px-2 py-1;
        }
        thead th {
            @apply bg-rose-pine-dawn-highlight-low dark:bg-rose-pine-highlight-low;
        }
    }
}

@layer components {
    .nav-item {
        @apply inline-block align-baseline decoration-2 h-full p-2;

        &[aria-current="page"]:not(.logotype) {
            @apply no-underline;
        }
    }

    .logotype {
        @apply text-md decoration-2 decoration-dotted;
    }
}

/* Opt in to default view transition */
@view-transition {
    navigation: auto;
}
