<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daniel Cloud: Software Engineer</title>
        <link rel="shortcut icon" href="data:," />
        <link rel="stylesheet" href='{{ get_url(path="css/site.css") }}' />
        {% block head %}{% endblock head %}
    </head>
    <body class="bg-rose-pine-base text-rose-pine-text">
        <div class="container lg:max-w-4xl sm:mx-auto mx-3 mt-2 mb-12">
            <div role="banner">
                <h1>Daniel Cloud</h1>
            </div>
            <nav class="mt-2 mb-8">
                <ol class="flex flex-row gap-4">
                    <li><a href="{{ get_url(path="/") }}">Home</a></li>
                    <li><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
                    <li><a href="{{ get_url(path="@/bakery/index.md") }}">Bakery</a></li>
                </ol>
            </nav>
            <main class="content">{% block content %}{% endblock content %}</main>
        </div>
    </body>
</html>
