<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daniel Cloud: Software Engineer</title>
        <link rel="stylesheet" href='{{ get_url(path="css/site.css") }}' />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Daniel Cloud</h1>
                <nav>
                    <ol class="sitenav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ol>
                </nav>
            </header>
            <div class="content">{% block content %}{% endblock content %}</div>
        </div>
    </body>
</html>
