<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Daniel Cloud: Software Engineer</title>
        <link rel="shortcut icon" href="data:," />
        <link rel="stylesheet" href='{{ get_url(path="css/site.css") }}' />
        {% block head %}{% endblock head %}
    </head>
    <body class="bg-rose-pine-base text-rose-pine-text">
        <div class="container lg:max-w-4xl mx-auto px-3 sm:px-0 mt-4 mb-12">
            <nav class="mt-2 mb-8">
                <ol class="flex flex-row items-baseline gap-4">
                    <li><a class="logotype nav-item" href="{{ get_url(path="/") }}">Daniel Cloud</a></li>
                    <li><a class="nav-item" href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>
                    <li><a class="nav-item" href="{{ get_url(path="@/bakery/index.md") }}">Bakery</a></li>
                </ol>
            </nav>
            <main class="content">{% block content %}{% endblock content %}</main>
        </div>
    </body>
</html>
